@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", serif;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: black;
}

/* utility classes  */
.container {
  width: 90%;
  margin: 0 auto;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 0.5em 1.5em;
  border-radius: 1rem;
  margin: 0 0.2rem;
  cursor: pointer;
  font-weight: 7000;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: black;
  color: white;
}

.btn-secondary {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

/* ************ Header **************** */
.header {
  /* border: 1px solid red; */
  padding: 0.8rem 0;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./Assets/hero.jpg");
  position: sticky;
  top: 0;
}

.header::after {
  content: "";
  display: block;
  clear: both;
}

.header-logo {
  /* border: 1px solid red; */
  width: 33.33%;
  float: left;
}

.nav-items {
  width: 38%;
  /* border: 1px solid red; */
  float: left;
  text-align: center;
  margin-top: 0.3rem;
}

.nav-items .nav-item {
  display: inline-block;
  margin: 0 1rem;
  font-weight: 500;
  padding-bottom: 0.3rem;
}

.nav-items .nav-item a {
  color: white;
}

.nav-items .nav-item:hover {
  border-bottom: 1px solid white;
}

.btn-container {
  /* border: 1px solid red; */
  width: max-content;
  float: right;
  text-align: right;
}

.bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./Assets/img-sec1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;
  position: relative;
  z-index: -1;
}

/* ************** Hero section ************** */
/* .hero { */
/* border: 1px solid red;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh; */
/* } */

.hero-content {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 0.8rem;
}

.hero-desc {
  line-height: 1.8;
  margin-bottom: 0.8rem;
}

.hero-btn {
  font-size: 1rem;
  border: 1px solid white;
  color: white;
  padding: 0.5em 2em;
}

.hero-btn:hover {
  border: 1px solid black;
  background-color: black;
}

/* ************** Places section **************  */

.text-orange {
  color: orange;
}

.places-section {
  padding: 6rem 0;
}

.places-section h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.places-section p {
  margin-bottom: 1rem;
}

.places-section button {
  padding: 1em 1.5em;
}

.places-content {
  max-width: 500px;
}

.card-container {
  margin-top: 2rem;
}

.card-container::after {
  content: "";
  display: block;
  clear: both;
}

.card {
  width: 24%;
  min-height: 400px;
  border-radius: 1em;
  background-color: white;
  float: left;
  margin: 0 0.3em;
  margin-bottom: 5rem;
  /* border: 1px solid red; */
}

.card::after {
  clear: both;
}

.card-img {
  max-width: 100%;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.card-content {
  padding: 1em 1.2em;
}

.content {
  max-width: 450px;
  margin-bottom: 2rem;
}

.content p {
  margin-bottom: 1rem;
}

.content button {
  padding: 1em 2em;
}

.rating {
  margin-bottom: 0.3rem;
}

.rating-icons {
  color: rgb(223, 155, 29);
}

.rating-count {
  font-weight: 700;
  padding-left: 0.5rem;
}

.location {
  margin-bottom: 0.3rem;
}

.text-bold {
  font-weight: 700;
}

.text-semibold {
  font-weight: 600;
}

.footer {
  text-align: center;
  padding: 0.5rem 0;
  padding-bottom: 2rem;
  font-family:'Times New Roman', Times, serif
}

.fa-facebook-f {
  /* color: #3b5998; */
  color: black;
  padding: 0.5rem;
}

.fa-instagram {
  /* color: #e4405f; */
  color: black;
  padding: 0.5rem;
}

.fa-linkedin {
  padding: 0.5rem;
  /* color: #0a66c2; */
  color: black;
}

.hamburger-menu {
  display: none;
  float: right;
}

.input-checkbox {
  display: none !important;
}

.menu-items {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  color: black;
  padding: 4rem 2.5rem;
  background-color: rgb(13, 13, 13);
  list-style-type: none;
  z-index: -1;
}

.menu-items .menu-item {
  margin-bottom: 0.8rem;
}

.menu-items .menu-item a {
  color: white;
}

.menu-items .menu-item a:hover {
  color: orange;
}

/* Nav Item Open & Close */
.hamburger-menu label {
  cursor: pointer;
}

.hamburger-menu input[type="checkbox"]:checked+label .fa-bars {
  display: none;
}

.hamburger-menu input[type="checkbox"]:checked+label .fa-xmark {
  display: inline-block;
}

.hamburger-menu label .fa-xmark {
  display: none;
}

.hamburger-menu input[type="checkbox"]:checked~.menu-items {
  display: block;
}

/* .input-checkbox {
  display: none;
} */

/* .menu-items {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 22;
  background-color: black;
  list-style-type: none;
  padding: 1rem 2rem;
}

.menu-items .menu-item {
  margin-bottom: 0.8rem;
}

.menu-items .menu-item a {
  color: white;
}
.menu-items .menu-item a:hover {
  color: orange;
}

.hamburger-menu input[type="checkbox"]:checked ~ .menu-items {
  display: block;
} */

/* ********** media queries ********* */

@media (max-width: 976px) {
  .nav-items {
    display: none;
  }

  .btn-container {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  R .card {
    width: 18%;
    min-height: 400px;
    border-radius: 1em;
    background-color: white;
    float: left;
    margin: 0 0.3em;
    margin-bottom: 5rem;
    z-index: -4;
  }
}